.logo {
  width: 4rem;
}

nav {
  z-index: 2;
}
.nav-link {
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.7px;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin: 3px 5px;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  border-top: 2px solid #fff;
  margin: 1px 5px;
}
